body { 
    background-size: cover; 
    background-position: center; 
    font-family: Arial; 
    text-align: center; 
    margin: 0; 
    padding: 20px; 
} 
 
#gallery { 
    display: flex; 
    justify-content: center; 
    gap: 20px; 
    margin-top: 40px; 
} 
 
#gallery img { 
    width: 30vw; 
    height: 20vh; 
    border-radius: 6px; 
    cursor: pointer; 
    transition: transform 0.3s; 
    box-shadow: 0px 4px 10px rgba(0,0,0,0.3); 
    padding: 30px;
} 
 
#gallery img:hover { 
    transform: scale(1.1); 
}