.Newsletter{
    background-color:bisque;
    border-radius:20px; 
    padding:20px;
    width:90%;
    max-width:500px;
    margin:auto;
    margin-top:170px;
    align-content: center;
    text-align:center;

}
button{
    background-color: rgb(78, 150, 233);
    border:none;
    padding:10px;
    border-radius: 5px;
    width:100px;
    font-weight:bold;
}

button:hover{
    background-color:aqua;
}

label{
    font-weight:bold;
}
